<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"> 
    <script src="{{ url_for('static', filename= 'app.js')}}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 ERROR </title>
</head>
<body>
    <h1></h1>
    <br>
    <H1>404 ERROR FOUND</H1>
    <BR>
    <h2>PLEASE CONTACT ADMIN </h2>

</body>
</html>
    
